/* Brand Colors
Green: #62DBC8
Yellow: #FFD80A
Purple: #9330AF */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Start Quiz Box */
.container-start {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.116);
  border-radius: 0.7rem;
}

/* Quiz Start Title */
.container-start .info-title {
  padding: 2rem;
}

/* Start Button */
.container-start .start-btn button {
  width: 15rem;
  padding: 1rem;
  border-radius: 0.7rem;
  color: #000;
  border: 2px solid #78ddce;
  background-color: transparent;
  transition: 0.3s ease;
}

.container-start .start-btn button:hover {
  width: 15rem;
  padding: 1rem;
  border-radius: 0.7rem;
  color: #fff;
  border: none;
  border: 2px solid #78ddce;
  background-color: #78ddce;
}

/* Quiz Game Container */
.container-quiz {
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.116);
  border-radius: 0.7rem;
}

.container-quiz .quiz-title {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;
  box-shadow: 0 0.5rem 0rem 0rem rgba(209, 209, 209, 0.479);
}

.container-quiz .progress-bar {
  height: 0.5rem;
  width: 20%;
  background-color: #ffd80a;
}

.container-quiz .question-text {
  font-size: 2.2rem;
  padding: 2.5rem 5rem 2rem 5rem;
}

.container-quiz .option-list {
  padding: 0 5rem 2rem 5rem;
}

.container-quiz .option-list.disabled {
  pointer-events: none;
}

/* Quiz Answers */
.container-quiz .option-list .option {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #9330af;
  background-color: transparent;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.container-quiz .option-list .option.selected-option {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #9330af;
  background-color: #eeeeee;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.container-quiz .option-list .option.correct {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  background-color: #62dbc8;
  border: 1px solid #62dbc8;
  color: #fff;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.container-quiz .option-list .option.wrong {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  background-color: #b80000;
  border: 1px solid #b80000;
  color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

/* Quiz Answers Hover */
.container-quiz .option-list .option:hover {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  padding: 0rem 2rem 0.5rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #9330af;
  background-color: #eeeeee;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* Circle to the left of the Answer */
.container-quiz .option-list .option .option-prefix {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(0, 20%);
}

.container-quiz .option-list .option .option-prefix.selected-prefix {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  background-color: #a9a9a9;
  box-shadow: 0 0 0 0.1rem #fff inset;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(0, 20%);
}

.container-quiz .option-list .option .option-prefix.correct-prefix {
  display: none;
}

/* Font awesome icon styling */
.container-quiz .option-list .option .icon-check {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.2rem;
  margin-right: 1rem;
  transform: translate(0, -5%);
}

.container-quiz .option-list .option .icon-x {
  color: #fff;
  text-align: center;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.2rem;
  margin-right: 1rem;
  transform: translate(0, -12%);
}

.container-quiz .option-list .option .option-prefix.wrong-prefix {
  display: none;
}

/* Answer Text */
.container-quiz .option-list .option .option-text {
  width: 100%;
  transform: translate(0, 15%);
  display: inline-flex;
  justify-content: left;
}

/* Footer Section: num of questions, check and next button */
.container-quiz .footer {
  height: 6rem;
  width: 100%;
  padding: 0 5rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .question-number {
  font-weight: 600;
}

.footer .check-btn {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 13rem;
  padding: 0.6rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #62dbc8;
  background-color: #62dbc8;
  transition: 0.3s ease;
}

.footer .check-btn:hover {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 13rem;
  padding: 0.6rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #78ddce;
  background-color: #78ddce;
}

.footer .next-btn {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 13rem;
  padding: 0.4rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #62dbc8;
  background-color: #62dbc8;
  transition: 0.3s ease;
}

.footer .next-btn:hover {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  width: 13rem;
  padding: 0.4rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #78ddce;
  background-color: #78ddce;
}

/* End Container with results, message, and restart & quit buttons */
.container-end {
  display: none;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 5rem 2rem 5rem;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.116);
  border-radius: 0.7rem;
}

.icon-end {
  width: 100%;
  padding: 4rem 0 0 0;
  font-size: 7rem;
}

.container-end .end-title {
  padding: 2rem;
}

.container-end .results {
  font-size: 2rem;
}

.container-end .container-end-btn {
  height: 6rem;
  width: 100%;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-end .restart-btn button {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  width: 14rem;
  padding: 0.6rem;
  margin-right: 3rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #62dbc8;
  background-color: #62dbc8;
  transition: 0.3s ease;
}

.container-end .restart-btn button:hover {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  width: 14rem;
  padding: 0.6rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #78ddce;
  background-color: #78ddce;
}

.container-end .quit-btn button {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  width: 14rem;
  padding: 0.6rem;
  border-radius: 0.7rem;
  color: #000;
  border: 2px solid #9330af;
  background-color: transparent;
  transition: 0.3s ease;
}

.container-end .quit-btn button:hover {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  width: 14rem;
  padding: 0.6rem;
  border-radius: 0.7rem;
  color: #fff;
  border: 2px solid #9330af;
  background-color: #9330af;
}
